<div class="blog">
<div class="container">
<div class="row vertical-offset-20">
<div class="container">
<h2>BlogPost Approval Form</h2>
<div class="row">
<div>
<div class="panel panel-default">
<div class="panel-heading">
<b>Blog Title : {{blog.blogTitle}}</b><br>
</div>
<div class="panel-body">
{{blog.blogContent}}<br><br>
{{blog.status}}<br><br>
<div class="pull-right"> <cite>Posted by <strong>{{blog.postedBy.firstName}}&nbsp;{{blog.postedBy.lastName}}</strong> on {{blog.createdDate | date : "medium"}}</cite></div>
</div>
</div>
</div>
</div>
<form>
<input type="radio" data-ng-model="status" value="APPROVED" data-ng-click="showRejectionTxt(false)" class="col-md-2">Approve<br>
<input type="radio" data-ng-model="status" value="REJECTED" data-ng-click="showRejectionTxt(true)" class="col-md-2">Reject
<br><br/>
<div data-ng-show="isRejected">
Enter Rejection Reason
<input type="text" data-ng-model="rejectionReason"><br>
</div>
<button class="btn btn-primary center-block" data-ng-click="approveOrRejectBlog(blog.id,blog.status,rejectionReason)" data-ng-controller="BlogController">Submit</button>
</form>
{{error.errorMessage}}
</div>
</div>
</div>
</div>