<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Register Page</title>

</head>
<body data-ng-app='myApp' data-ng-controller="RegisterController"> 

  <div class="container">
   <div class="row main">
    <div class="main-login main-center">
    <h2 align="center" style="color: black;">Registration Form</h2>
    <!-- <form class="form-horizontal" role="form" data-ng-submit="register()" action="" > -->
         
         
         <div class="form-group">
       <label for="username" class="cols-sm-3 control-label" style="color: black;">First Name</label>
       <div class="cols-sm-9">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
          <input type="text" id="firstname" placeholder="First Name" required data-ng-model="user.firstName" class="form-control" autofocus />
                       </div>
       </div>
      </div>
         <div class="form-group">
       <label for="username" class="cols-sm-3 control-label" style="color: black;">Last Name</label>
       <div class="cols-sm-9">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
          <input type="text" id="lastname" placeholder="Last Name" required data-ng-model="user.lastName" class="form-control" autofocus />
                       </div>
       </div>
      </div>
<!-- 
      <div class="form-group">
       <label for="username" class="cols-sm-3 control-label" style="color: black;">UserName</label>
       <div class="cols-sm-9">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
          <input type="text" id="username" placeholder="User Name" required data-ng-model="user.username" class="form-control" autofocus />
                       </div>
       </div>
      </div> -->
                        
                        <div class="form-group">
       <label for="email" class="cols-sm-3 control-label" style="color: black;">Your Email</label>
       <div class="cols-sm-9">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
           <input type="email" id="email" placeholder="Email" required data-ng-model="user.email" class="form-control"/>
        </div>
       </div>
      </div>

      <div class="form-group">
       <label for="password" class="cols-sm-3control-label" style="color: black;">Password</label>
       <div class="cols-sm-9">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" id="password" required placeholder="Password" data-ng-model="user.password" class="form-control"/>
        </div>
       </div>
      </div>
                        
          <!--               <div class="form-group">
       <label for="confirm" class="cols-sm-3 control-label" style="color: black;">Mobile</label>
       <div class="cols-sm-9">
        <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-phone" aria-hidden="true"></i></span>
           <input type="number" id="mobile" placeholder="mobile" required  data-ng-model="user.mobile" class="form-control">
        </div>
       </div>
                            </div>

      <div class="form-group">
       <label for="confirm" class="cols-sm-9 control-label" style="color: black;">Date</label>
       <div class="cols-sm-9">
        <div class="input-group">
         <span class="input-group-addon"><i class="glyphicon glyphicon-calendar" aria-hidden="true"></i></span>
           <input type="date" id="birthDate" required data-ng-model="user.dob" class="form-control">
        </div>
       </div>
                            </div>
                            <div class="form-group">
                            <label for="confirm" class="cols-sm-9 control-label" style="color: black;">Gender</label>
                      <div class="cols-sm-9">
                   
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                    <input type="radio" id="femaleRadio" data-ng-model="user.gender" value="Female"><b>Female</b>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                    <input type="radio" id="maleRadio" data-ng-model="user.gender" value="Male"><b>Male</b>
                                </label>
                            </div>
                           
                        </div>
                    </div>
                </div> 
                
                
               =========
                   <div class="form-group">
                            <label for="confirm" class="cols-sm-9 control-label" style="color: black;">Role</label>
                      <div class="cols-sm-9">
                   
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                       <input type="radio" id="id1" data-ng-model="user.role" value="Alumni"><b>Alumni</b>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                       <input type="radio" id="id2" data-ng-model="user.role" value="Student"><b>Student</b>
                                </label>
                            </div>
                            
                             <div class="col-sm-4">
                                <label class="radio-inline" style="color: black;">
                                          <input type="radio" id="id3" data-ng-model="user.role" value="Employee"><b>Employee</b><br>
                                </label>
                            </div>
                           
                        </div>
                    </div>
                </div> 
                
                   =========
                
                
               
              <div class="form-group">
       <label for="username" class="cols-sm-3 control-label" style="color: black;">Address</label>
       <div class="cols-sm-9">
        <div class="input-group">
         <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
          <input type="text" id="address" placeholder="User Address" required data-ng-model="user.address" class="form-control" autofocus />
                       </div>
       </div>
      </div>
 -->      <div class="form-group ">
       <button class="btn btn-lg btn-success btn-block" data-ng-click="register()">Register</button>
            
      </div>
      <p class="change_link" style="color: black;">  
         <b>Already a member ?</b>
         <a href="#login" class="to_register"> Go and Login</a>
        </p>      
    <!--  </form> -->
    </div>
   </div>
  </div>

</body>
</html>
